+b.HEADER.header 
    .container.container-large
        +e.row
            +e.A(href="index.html" class="logo")
                img(src="assets/images/logo/logo.svg", alt="")
                   
            +e.NAV.nav 
                ul

                    li(class=( pageName === "products" ? " is-active" : undefined))
                        a(href="products.html") Products 
                        ul 
                            li 
                                +b.A(href="#" class="podmenu-item --icon-violet") 
                                    +e.icon
                                        +icon('002-cryptocurrency')
                                    +e.content
                                        +e.title Defi-staking
                                        +e.description earn up to 60% per annum on cryptocurrency staking
                            li 
                                +b.A(href="#" class="podmenu-item --icon-brown") 
                                    +e.icon
                                        +icon('001-exchange')
                                    +e.content
                                        +e.title Decentralized Exchange
                                        +e.description coming soon
                            li 
                                +b.A(href="#" class="podmenu-item --icon-pink") 
                                    +e.icon
                                        +icon('003-chip')
                                    +e.content
                                        +e.title NFT marketplace
                                        +e.description coming soon
                            li 
                                +b.A(href="#" class="podmenu-item --icon-gray") 
                                    +e.icon
                                        +icon('004-discount')
                                    +e.content
                                        +e.title Crypto Credit
                                        +e.description coming soon

                    li(class=( pageName === "support" ? " is-active" : undefined))
                        a(href="support.html") Support
                    
                    li(class=( pageName === "company" ? " is-active" : undefined))
                        a(href="company.html") Company
                    
                    li(class=( pageName === "bounty" ? " is-active" : undefined))
                        a(href="bounty.html") Bounty

            include _social

            +e.right 

                +b.A(href="login.html" class="btn --white --small")
                    span Login
                    +icon('001-key-with-hole')

                +b.A(href="register.html" class="btn --primary --small")
                    span Register
                    +icon('002-user')