+b.SECTION
    .container
        +b.referral-link.js-copy 
            +b.field(class="--horizontal") 
                label Your Referral Link:
                input(type="text" name="referral-link" value="https://www.ybot.trade/ref=klm34km5").js-copy-input
            +b.A(class="btn --gray js-copy-button")
                span Copy link
                +icon('copy')