+b.follow 
    +e.UL
        +e.LI
            +e.A(href="#" target="_blank")
                svg.svg-icon
                    use(href='assets/icons/sprite.svg#icon-twitter')
        +e.LI
            +e.A(href="#" target="_blank")
                svg.svg-icon
                    use(href='assets/icons/sprite.svg#icon-youtube')
        +e.LI
            +e.A(href="#" target="_blank")
                svg.svg-icon
                    use(href='assets/icons/sprite.svg#icon-telegram')
        +e.LI
            +e.A(href="#" target="_blank")
                svg.svg-icon
                    use(href='assets/icons/sprite.svg#icon-lk')