extends ../layout/main

block variables
    - var title = 'Ybot.trade – About us';
    - var description = '';
    - var pageName = 'about';

block content
    //
    +b.SECTION.about-intro
        //-include ../includes/modules/_social
        .container
            +e.row 
                +e.col
                    +e.media 
                        img(src="assets/images/about/intro.png", alt="")
                +e.col
                    +e.content
                        +e.H1.title Earnings without investing!
                        .typography 
                            p 
                                strong 
                                    big Invite a friend and get 13% of his investment and 2% of his friends investment!
                        +b.A(href="register.html" class="btn --yellow-gr")
                            span Start earn now
                            +e.SPAN.icon-wrap
                                +icon('001-right-arrow') 
    
    //
    +b.SECTION.team
       .container
            +e.row 
                +e.col
                    +b.H5.subtitle Team
                    +b.H3.title Ybot professional team
                    +b.typography 
                        p 
                            strong 
                                big Your friend sends the balance of USDT 10,000 to trade.
                        p If your friend invites  friends, you'll get 2% off their investment! You can find the invitation link in your personal account under.
                +e.media
                    +b.UL.team-list 
                        +e.LI 
                            +b.team-item 
                                +e.image 
                                    img(src="assets/images/team/1.png", alt="")
                                +e.P.title Edward Cunningham
                                +e.P.subtitle manager
                        +e.LI 
                            +b.team-item 
                                +e.image 
                                    img(src="assets/images/team/2.png", alt="")
                                +e.P.title Simon Perry
                                +e.P.subtitle manager
                        +e.LI 
                            +b.team-item 
                                +e.image 
                                    img(src="assets/images/team/3.png", alt="")
                                +e.P.title Steven Haynes
                                +e.P.subtitle manager
                        +e.LI 
                            +b.team-item 
                                +e.image 
                                    img(src="assets/images/team/4.png", alt="")
                                +e.P.title Ronald Perry
                                +e.P.subtitle manager
                        +e.LI 
                            +b.team-item 
                                +e.image 
                                    img(src="assets/images/team/5.png", alt="")
                                +e.P.title Nang Shi-Won
                                +e.P.subtitle manager
                        +e.LI 
                            +b.team-item 
                                +e.image 
                                    img(src="assets/images/team/6.png", alt="")
                                +e.P.title Therron Gallos
                                +e.P.subtitle manager
    
    //
    +b.SECTION.about-trade
       .container
            +e.row 
                +e.media 
                    img(src="assets/images/about/pic.png", alt="")
                +e.col 
                    +e.content
                        +b.H5.subtitle About us
                        +b.H3.title Ybot trade
                        +b.typography 
                            p 
                                strong If your friend invites  friends, you'll get 2% off their investment! You can find the invitation link in your personal account under Partner Program. Just copy it and send it to  friends.
                            p If your friend invites  friends, you'll get 2% off their investment! You can find the invitation link in your personal account under Partner Program. Just copy it and send it to  friends. If your friend invites  friends, you'll get 2% off their investment! 
                            p You can find the invitation link in your personal account under Partner Program. Just copy it and send it to  friends. If your friend invites  friends, you'll get 2% off their investment! You can find the invitation link in your personal account under 
    
    //
    +b.SECTION.invest
       .container
            +e.row 
                +e.col
                    +b.UL.advantages-list 
                        +e.LI 
                            +b.advantage-item 
                                +e.icon 
                                    +icon('portfolio')
                                +e.H5.title If your friend invites<br> friends
                                +e.desc 
                                    p You'll get 2% off their investment! You can find the invitation link in your personal account under Partne
                        +e.LI 
                            +b.advantage-item 
                                +e.icon 
                                    +icon('steps')
                                +e.H5.title If your friend invites<br> friends
                                +e.desc 
                                    p You'll get 2% off their investment! You can find the invitation link in your personal account under Partne
                
                +e.col 
                    +b.quote 
                        p If your friend invites  friends, you'll get 2% off their investment! You can find the invitation link in your personal account under Partner Program.
    //
    +b.SECTION.contacts
       .container
            +e.row 
                +e.col
                    +e.content
                        +b.H5.subtitle Contact us
                        +b.H3.title Contact us now
                        +b.typography 
                            p 
                                strong 
                                    big Your friend sends the balance of USDT 10,000 to trade.
                +e.col 
                    +b.FORM.contacts-form 
                        +e.row 
                            +b.field(class="--material")
                                input(type="text" name="name")
                                label Name: 
                            +b.field(class="--material")
                                input(type="text" name="email")
                                label E-mail: 
                            +b.field(class="--material")
                                input(type="text" name="message")
                                label Message
                        +e.bottom 
                            +b.BUTTON( class="btn --yellow-gr")
                                span Send your message
                                +e.SPAN.icon-wrap
                                    +icon('001-right-arrow') 
block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")