extends ../layout/main

block variables
    - var title = 'Coindeks – Blog';
    - var description = '';
    - var pageName = 'blog';

block content
   
    +b.SECTION.blog-details 
        .container 
            +e.image
                img(src="assets/images/blog/blog-details.png", alt="")

            +e.content
                +e.content-top
                    +e.H1.title Coindesks.com is an innovative sought-after cryptocurrency platform that includes several sought-after
                    
                    +e.date
                        +e.date-content
                            +e.P.day 22
                            +e.P.month 02/2021
                +b.typography
                    p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                    p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 
                    p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                    p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 

            +b.A(href="blog-details.html" class="blog-item")
                +e.image
                    img(src="assets/images/blog/blog-more.png", alt="") 
                +e.content
                    +e.P.date 22/02/2021
                    +e.description
                        p Coindesks.com is an innovative sought-after cryptocurrency platform that includes several sought-after
                    +e.buttons
                        +e.btn Read more
block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")