extends ../layout/main

block variables
    - var title = 'Coindeks – Blog';
    - var description = '';
    - var pageName = 'blog';

block content
   
    +b.SECTION.blog
        .container
            +b.H3.title(class="--after --center") Coindeks.com blog
            mixin blog-item()
                +b.A(href="blog-details.html" class="blog-item")
                    +e.image
                        img(src="assets/images/blog/blog.png", alt="") 
                    +e.content
                        +e.P.date 22/02/2021
                        +e.description
                            p Coindesks.com is an innovative sought-after cryptocurrency platform that includes several sought-after
                        +e.buttons
                            +e.btn Read more
            +e.row
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()
                +e.col
                    +blog-item()

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")