extends ../layout/main

block variables
    - var title = 'Coindeks – About us';
    - var description = '';
    - var pageName = 'about';

block content
   
    +b.SECTION.about-intro.page-intro(style="background-image: url('assets/images/intro/bg.png')")
       .container
     
            +b.H3.title(class="--after --center") About Cryptodeks.com

            +b.page-description 
                p More than 15 cryptocurrencies are available for staking<br> Earn <strong>up to 400%</strong> per annum on stacking 

            +b.typography.page-intro__text
                p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 
                p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryp

    //
    +b.SECTION.what-coindeks
        .container
            +b.H3.title(class="--after --center") Coindeks.com products

            +b.page-description 
                p Coindesks.com is an innovative cryptocurrency platform that includes several sought-after investment products, such as:

            +e.slider
                .swiper-container.js-what-slider.swiper-no-swiping
                    .swiper-wrapper

                        .swiper-slide 
                            +b.what-item 
                                +e.P.count 01
                                +e.icon 
                                    +icon('002-cryptocurrency')
                                +e.P.name Defi<br> staking

                        .swiper-slide 
                            +b.what-item 
                                +e.P.count 02
                                +e.icon 
                                    +icon('001-exchange')
                                +e.P.name Decentralized<br> Exchange

                        .swiper-slide 
                            +b.what-item 
                                +e.P.count 03
                                +e.icon 
                                    +icon('003-chip')
                                +e.P.name NFT<br> marketplace

                        .swiper-slide 
                            +b.what-item 
                                +e.P.count 04
                                +e.icon 
                                    +icon('004-discount')
                                +e.P.name Crypto<br> credit

    //
    +b.SECTION.defi-staking
        .container
            +b.page-content
                +e.row
                    +e.col
                        +b.H3.title(class="") Defi staking 
                        +b.page-description 
                            p Coindesks.com is an innovative cryptocurrency platform that includes several sought-after investment products, such as:
                        
                    +e.col
                        +e.image
                            img(src="assets/images/defi.svg", alt="")
                +e.row
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryp
            +b.section-table.table-wrapper
                table 
                    thead 
                        tr 
                            th Cryptocurrency
                            th 1 month
                            th 3 month
                            th 6 month
                            th 8 month
                            th 12 month
                    tbody 
                        tr.is-active
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/coindeks.svg", alt="")
                                    +e.P.name Cry 
                                    +e.P.description CRYPTODEKS TOKEN
                            td 400%
                            td 400%
                            td 400%
                            td 400%
                            td 400%
                        tr.is-active
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/tether.svg", alt="")
                                    +e.P.name Usdt 
                                    +e.P.description USDT Tether
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                        tr.is-active
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/usd-coin-usdc-logo.svg", alt="")
                                    +e.P.name Usdc 
                                    +e.P.description USDC Coin
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                        tr.is-active
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/dai.svg", alt="")
                                    +e.P.name Dai 
                                    +e.P.description Dai
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/gusd.svg", alt="")
                                    +e.P.name Gusd 
                                    +e.P.description Gemini dollar
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                            td 54%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/eth.svg", alt="")
                                    +e.P.name Eth 
                                    +e.P.description Etherium
                            td 40%
                            td 40%
                            td 40%
                            td 40%
                            td 40%
                        

                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/weth.svg", alt="")
                                    +e.P.name Weth 
                                    +e.P.description Wrapped Ether 
                            td 40%
                            td 40%
                            td 40%
                            td 40%
                            td 40%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/btc.svg", alt="")
                                    +e.P.name btc 
                                    +e.P.description Bitcoin
                            td 37%
                            td 37%
                            td 37%
                            td 37%
                            td 37%
                        
                        
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/matic.svg", alt="")
                                    +e.P.name Matic 
                                    +e.P.description Polygon
                            td 34%
                            td 34%
                            td 34%
                            td 34%
                            td 34%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/sushi.svg", alt="")
                                    +e.P.name sushi 
                                    +e.P.description Sushi Swap
                            td 33%
                            td 33%
                            td 33%
                            td 33%
                            td 33%
                        
                    
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/aave.svg", alt="")
                                    +e.P.name Aave 
                                    +e.P.description Aave
                            td 33%
                            td 33%
                            td 33%
                            td 33%
                            td 33%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/unicorn.svg", alt="")
                                    +e.P.name uni 
                                    +e.P.description Unicorn
                            td 30%
                            td 30%
                            td 30%
                            td 30%
                            td 30%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/wbtc.svg", alt="")
                                    +e.P.name wbtc 
                                    +e.P.description Wrapped Bitcoin
                            td 25%
                            td 25%
                            td 25%
                            td 25%
                            td 25%
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/cpnd.svg", alt="")
                                    +e.P.name cpnd 
                                    +e.P.description Compound
                            td 25%
                            td 25%
                            td 25%
                            td 25%
                            td 25%
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/maker.svg", alt="")
                                    +e.P.name mkr 
                                    +e.P.description Maker
                            td 25%
                            td 25%
                            td 25%
                            td 25%
                            td 25%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/snx.svg", alt="")
                                    +e.P.name snx 
                                    +e.P.description Synthetix
                            td 24%
                            td 24%
                            td 24%
                            td 24%
                            td 24%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/curve.svg", alt="")
                                    +e.P.name crv 
                                    +e.P.description Curve DAO Token 
                            td 23%
                            td 23%
                            td 23%
                            td 23%
                            td 23%
                        
                        tr
                            td 
                                +b.token-item
                                    +e.icon 
                                        img(src="assets/images/icons/knc.svg", alt="")
                                    +e.P.name knc 
                                    +e.P.description Kyber Network Crystal 
                            td 23%
                            td 23%
                            td 23%
                            td 23%
                            td 23%
    //
    +b.SECTION.decentralized
        .container
            +b.page-content
                +e.row
                    +e.col
                        +e.image
                            img(src="assets/images/coin2.svg", alt="")
                    +e.col
                        +b.H3.title(class="") Decentralized Exchange
                        +b.page-description 
                            p Coindesks.com is an innovative cryptocurrency platform that includes several sought-after investment products, such as:
                        
                    
                +e.row
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryp
    
    //
    +b.SECTION.marketplace
        .container
            +b.page-content
                +e.row
                    +e.col
                        +b.H3.title(class="") NFT marketplace 
                        +b.page-description 
                            p Coindesks.com is an innovative cryptocurrency platform that includes several sought-after investment products, such as:
                        
                    +e.col
                        +e.image
                            img(src="assets/images/ico3.svg", alt="")
                +e.row
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryp
            
    //
    +b.SECTION.credit
        .container
            +b.page-content
                +e.row
                    +e.col
                        +e.image
                            img(src="assets/images/ico4.svg", alt="")
                    +e.col
                        +b.H3.title(class="") Crypto credit
                        +b.page-description 
                            p Coindesks.com is an innovative cryptocurrency platform that includes several sought-after investment products, such as:
                        
                    
                +e.row
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to 
                    +e.col
                        +b.typography
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. 
                            p At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryptocurrency experience that works for everyone. At Exodus we pour our hearts into every detail, from pixel-perfect icons to subtle sounds, creating a cryp
    
    //
    +b.SECTION.team
        mixin team-item()
            +b.team-item
                +e.image
                    img(src="https://dummyimage.com/195x195/726c88/726c88", alt="")
                +e.P.subtitle director 
                +e.P.title Name Surname 
                +e.UL.social 
                    +e.LI
                        +e.A(href="#" target="_blank")
                            +icon('telegram')
                    +e.LI
                        +e.A(href="#" target="_blank")
                            +icon('youtube-text')
                    +e.LI
                        +e.A(href="#" target="_blank")
                            +icon('medium')
                    +e.LI
                        +e.A(href="#" target="_blank")
                            +icon('linkedin-circle')
                    +e.LI
                        +e.A(href="#" target="_blank")
                            +icon('twitter')
        .container
            +e.slider
                +e.arrow-prev(ref="prev")
                    +icon('arrow')
                +e.arrow-next(ref="next")
                    +icon('arrow')
                .swiper-container.js-team-slider.swiper-no-swiping
                    
                    .swiper-wrapper

                        .swiper-slide 
                            +team-item()
                        .swiper-slide 
                            +team-item()
                        .swiper-slide 
                            +team-item()
                        .swiper-slide 
                            +team-item()
                        .swiper-slide 
                            +team-item()
                        .swiper-slide 
                            +team-item()
                        .swiper-slide 
                            +team-item()
        
    //
    +b.SECTION.documents
        .container
            +e.block
                +e.H3.title Documents
                +e.slider-wrapper
                    +e.arrow-prev(ref="prev")
                        +icon('arrow')
                    +e.arrow-next(ref="next")
                        +icon('arrow')
                    .swiper-container.js-documents-slider.swiper-no-swiping
                        .swiper-wrapper

                            .swiper-slide 
                                +b.A(href="assets/images/documents/1.png" class="document-element" data-fancybox="documents")
                                    img(src="assets/images/documents/1.png", alt="")
                            
                            .swiper-slide 
                                +b.A(href="assets/images/documents/1.png" class="document-element" data-fancybox="documents")
                                    img(src="assets/images/documents/1.png", alt="")
                            .swiper-slide 
                                +b.A(href="assets/images/documents/1.png" class="document-element" data-fancybox="documents")
                                    img(src="assets/images/documents/1.png", alt="")
                            .swiper-slide 
                                +b.A(href="assets/images/documents/1.png" class="document-element" data-fancybox="documents")
                                    img(src="assets/images/documents/1.png", alt="")

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")