extends ../layout/login

block variables
    - var title = 'Coindeks – Авторизация';
    - var description = '';
    - var pageName = 'login';

block content

    +b.sign 
        +e.top 
            +e.H1.title Авторизация <span class="color-primary">Coindeks.com</span>
        +e.content
            // 
            form
                //
                +e.row 
                
                    +e.col(class="--12") 
                        +b.field(class="--error")
                            label E-mail 
                            input(type="text" name="email")

                    +e.col(class="--12") 
                        +b.field 
                            label Введите пароль
                            input(type="password" name="password")

                    +e.col(class="--12") 
                        .captcha-wrapper
                            +b.field 
                                label Введите капчу
                                input(type="password" name="captcha")

                            +b.captcha 
                                p 2JFGS75
                    
                //
                +e.footer
                    +b.BUTTON( class="btn --primary") Продолжить
                
                +e.footer
                    +e.A(href="forgot.html" class="link") Забыли пароль?
                    p Еще нет аккаунта? <a href="register.html">Зарегистрироваться!</a>

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")