extends ../layout/login

block variables
    - var title = 'Ybot.trade – Log In';
    - var description = '';
    - var pageName = 'login';

block content

    +b.sign 
        +e.top 
            +e.H1.title Log In 
            +e.UL.links 
                +e.LI 
                    +e.A(href="register.html") Sign up
                +e.LI 
                    +e.A(href="forgot.html") Forgot password?
        +e.content
            // 
            form
                //
                +e.row 
                
                    +e.col(class="--12") 
                        +b.field(class="--error")
                            label Username 
                            input(type="text" name="username")
                    +e.col(class="--12") 
                        +b.field 
                            label Pass of 2fa code
                            input(type="text" name="pass_2fa")

 

                    +e.col(class="--12")
                        +b.LABEL.checkbox 
                            input(type="checkbox" name="remember")
                            span Remember me
                    
                //
                +e.footer
                    +b.BUTTON( class="btn --black")
                        span Login
                        +e.SPAN.icon-wrap
                            +icon('001-right-arrow')

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")