extends ../layout/profile

block variables
    - var title = 'Coindeks – Profile';
    - var description = '';
    - var pageName = 'account';
    - var pageType = 'profile';

block content
    

    +b.SECTION.protocol-info
        .container
            +b.H3.title(class="--after --center") The liquidity protocol

            +e.P.price <span class="color-primary">$</span> 49,950,800.00
            
            +e.description
                p Coindeks.com is an innovative cryptocurrency platform that includes several sought-after investment products, such as:
            
            .swiper-container.js-swiper-protocol.swiper-no-swiping
                .swiper-wrapper
                    .swiper-slide 
                        +b.counter-item 
                            +e.P.value $ 15,789
                            +e.P.description Account balance
                
                    .swiper-slide 
                        +b.counter-item 
                            +e.P.value $ 15,000
                            +e.P.description Blocked
                
                    .swiper-slide 
                        +b.counter-item 
                            +e.P.value $ 729
                            +e.P.description Withdraw availiable

    +b.SECTION.token-info
        .container  
            +e.row
                +e.text
                    +e.description
                        p <strong class="color-primary">CRY token</strong> 2 rounds token sale
                    +e.P.value $ 12,859,871,431.78
                +e.right-content
                    +b.buy-now
                        +b.A(href="#" class="btn --primary") Buy now
                        +e.arrow
                            +icon('001-right-arrow')
                        +e.UL.list 
                            +e.LI
                                a(href="#" target="_blank") 
                                    img(src="assets/images/buy-now/1.png", alt="")
                            +e.LI
                                a(href="#" target="_blank") 
                                    img(src="assets/images/buy-now/2.png", alt="")
                            +e.LI
                                a(href="#" target="_blank") 
                                    img(src="assets/images/buy-now/3.png", alt="")

    +b.SECTION

        .container
            // block
            +b.profile-block.table-token
                +b.block.table-filter-hidden
                    table.js-datatables.responsive.nowrap(
                        data-page-length="9999"
                        ordering="true"
                        order-col-index="1" 
                        order-col-type="desc" )
                        thead
                            tr
                                th Token
                                th Est. rate (year)
                                th Fixed or flex percent
                                th.no-sorting
                        tbody
                            tr 
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/coindeks.svg", alt="")
                                        +e.P.name Cry 
                                        +e.P.description CRYPTODEKS TOKEN
                                td
                                    +b.P.price.color-primary 400%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select

                            tr 
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/usdt.svg", alt="")
                                        +e.P.name usdt 
                                        +e.P.description USDT Tether
                                td
                                    +b.P.price.color-primary 54%
                                td
                                    p Flexible
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select

                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/usd-coin-usdc-logo.svg", alt="")
                                        +e.P.name Usdc 
                                        +e.P.description USDC Coin
                                td
                                    +b.P.price.color-primary 54%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/dai.svg", alt="")
                                        +e.P.name Dai 
                                        +e.P.description Dai
                                td
                                    +b.P.price.color-primary 54%
                                td
                                    p Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/gusd.svg", alt="")
                                        +e.P.name Gusd 
                                        +e.P.description Gemini dollar
                                td
                                    +b.P.price.color-primary 54%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/eth.svg", alt="")
                                        +e.P.name Eth 
                                        +e.P.description Etherium
                                td
                                    +b.P.price.color-primary 40%
                                td
                                    p Flexible
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            

                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/weth.svg", alt="")
                                        +e.P.name Weth 
                                        +e.P.description Wrapped Ether 
                                td
                                    +b.P.price.color-primary 40%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/btc.svg", alt="")
                                        +e.P.name btc 
                                        +e.P.description Bitcoin
                                td
                                    +b.P.price.color-primary 37%
                                td
                                    p Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                         
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/matic.svg", alt="")
                                        +e.P.name Matic 
                                        +e.P.description Polygon
                                td
                                    +b.P.price.color-primary 34%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/sushi.svg", alt="")
                                        +e.P.name sushi 
                                        +e.P.description Sushi Swap
                                td
                                    +b.P.price.color-primary 33%
                                td
                                    p Flexible
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                     
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/aave.svg", alt="")
                                        +e.P.name Aave 
                                        +e.P.description Aave
                                td
                                    +b.P.price.color-primary 33%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/unicorn.svg", alt="")
                                        +e.P.name uni 
                                        +e.P.description Unicorn
                                td
                                    +b.P.price.color-primary 30%
                                td
                                    p Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/wbtc.svg", alt="")
                                        +e.P.name wbtc 
                                        +e.P.description Wrapped Bitcoin
                                td
                                    +b.P.price.color-primary 25%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/cpnd.svg", alt="")
                                        +e.P.name cpnd 
                                        +e.P.description Compound
                                td
                                    +b.P.price.color-primary 25%
                                td
                                    p Flexible
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select

                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/maker.svg", alt="")
                                        +e.P.name mkr 
                                        +e.P.description Maker
                                td
                                    +b.P.price.color-primary 25%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/snx.svg", alt="")
                                        +e.P.name snx 
                                        +e.P.description Synthetix
                                td
                                    +b.P.price.color-primary 24%
                                td
                                    p Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/curve.svg", alt="")
                                        +e.P.name crv 
                                        +e.P.description Curve DAO Token 
                                td
                                    +b.P.price.color-primary 23%
                                td
                                    p Flexible/Fixed
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select
                            
                            tr
                                td 
                                    +b.token-item
                                        +e.icon 
                                            img(src="assets/images/icons/knc.svg", alt="")
                                        +e.P.name knc 
                                        +e.P.description Kyber Network Crystal 
                                td
                                    +b.P.price.color-primary 23%
                                td
                                    p Flexible
                                td 
                                    +b.BUTTON( class="btn --gray --small") Select


block script
    //-script(src="assets/js/vendors.js")
    script(src="assets/js/app.js")