extends ../layout/profile

block variables
    - var title = 'Coindeks – Profile staking';
    - var description = '';
    - var pageName = 'staking';
    - var pageType = 'profile';
block content

    +b.breadcrumbs 
        .container
            a(href="profile-account.html") Account 
            +e.SPAN.separator / 
            span Staking  

    +b.SECTION
        .container
            // block
            +b.profile-block
                +b.H3.title My Staking

                // item
                +b.staking-item
                    +e.top
                        +e.icon
                            img(src="assets/images/icons/cry.png", alt="")
                        +e.P.icon-name Cry
                        +e.P.description CRYPTODEKS TOKEN
                        +e.UL.top-list 
                            +e.LI
                                strong.color-primary 400%
                            +e.LI Flexible percent
                    +e.bottom
                        +e.UL.info 
                            +e.LI
                                +b.info-item 
                                    +e.icon 
                                        +icon('calendar')
                                    +e.content
                                        +e.P.name Days in staking 
                                        +e.P.value 102
                            +e.LI
                                +b.info-item 
                                    +e.icon 
                                        +icon('clock')
                                    +e.content
                                        +e.P.name Days till finish
                                        +e.P.value 78
                            +e.LI
                                +b.info-item 
                                    +e.icon 
                                        +icon('wallet')
                                    +e.content
                                        +e.P.name.color-primary Earn
                                        +e.P.value.color-primary 15,211.324422

                // item
                +b.staking-item
                    +e.top
                        +e.icon
                            img(src="assets/images/icons/usdc.png", alt="")
                        +e.P.icon-name Usdc
                        +e.P.description Usdc coin
                        +e.UL.top-list 
                            +e.LI
                                strong.color-primary 400%
                            +e.LI Flexible percent
                    +e.bottom
                        +e.UL.info 
                            +e.LI
                                +b.info-item 
                                    +e.icon 
                                        +icon('calendar')
                                    +e.content
                                        +e.P.name Days in staking 
                                        +e.P.value 102
                            +e.LI
                                +b.info-item 
                                    +e.icon 
                                        +icon('clock')
                                    +e.content
                                        +e.P.name Days till finish
                                        +e.P.value 78
                            +e.LI
                                +b.info-item 
                                    +e.icon 
                                        +icon('wallet')
                                    +e.content
                                        +e.P.name.color-primary Earn
                                        +e.P.value.color-primary 15,211.324422
block script
    //-script(src="assets/js/vendors.js")
    script(src="assets/js/app.js")