extends ../layout/profile

block variables
    - var title = 'Coindeks – Profile token';
    - var description = '';
    - var pageName = 'token';
    - var pageType = 'profile';
block content

   
    +b.SECTION
        mixin tr(index)
            tr
                td 00#{index}
                td Bitcoin
                td
                    strong 0.000123 BTC
                td 12:33:22   01.01.2022
                td
                    +b.status(class="--success") Compleated
            tr
                td 00#{index}
                td Bitcoin
                td
                    strong 0.000123 BTC
                td 12:33:22   01.01.2022
                td
                    +b.status(class="--danger") Delayed
            tr
                td 00#{index}
                td Bitcoin
                td
                    strong 0.000123 BTC
                td 12:33:22   01.01.2022
                td
                    +b.status Canceled


        .container
            +b.H3.title(class="--small") Your Withdrawals List

            +b.block.table-filter-hidden
                table.js-datatables.responsive.nowrap(
                    data-page-length="10" )
                    thead
                        tr
                            th Num
                            th Currency
                            th Amount
                            th Date
                            th Status
                    tbody
                        each val in [1, 2, 3, 4, 5,6,7,8,9]
                            +tr(val)



block script
    //-script(src="assets/js/vendors.js")
    script(src="assets/js/app.js")