extends ../layout/profile

block variables
    - var title = 'Ybot.trade – Profile settings';
    - var description = '';
    - var pageName = 'referral-program';
    - var pageType = 'profile';
block content

    //
    +b.SECTION
        .container
            +b.H5.subtitle Ybot trade
            +b.H1.title Referral Program 


            +b.account-statistics 
                .swiper-container.js-swiper-statistics.swiper-no-swiping
                    .swiper-wrapper 
                        .swiper-slide 
                            +b.account-statistics-item(class="--black")
                                +e.icon 
                                    +icon('001-user-profile')
                                +e.content 
                                    +e.P.title You invited by
                                    +e.P.value(class="--username") username132
                        .swiper-slide 
                            +b.account-statistics-item
                                +e.icon 
                                    +icon('002-people')
                                +e.content 
                                    +e.P.title TOTAL refferrals
                                    +e.P.value 123
                        .swiper-slide 
                            +b.account-statistics-item
                                +e.icon 
                                    +icon('003-checked')
                                +e.content 
                                    +e.P.title Active refferrals
                                    +e.P.value 12
                        .swiper-slide 
                            +b.account-statistics-item
                                +e.icon 
                                    +icon('bars')
                                +e.content 
                                    +e.P.title Total earned
                                    +e.P.value <span class="color-gray">$</span> 1,390.22

    include ../includes/modules/_referral-link

    +b.SECTION
        mixin tr(index)
            tr
                td #{index}
                td Username123
                td Level 1
                td 
                    strong 112.21350670 LTC
                td
                    strong 112.21350670 LTC	


        .container
            +b.H3.title(class="--small") Your Operations List

            +b.block.table-filter-hidden
                table.js-datatables.responsive.nowrap(
                    data-page-length="10" )
                    thead
                        tr
                            th Num
                            th Login
                            th Level
                            th Total invested
                            th Total earned
                    tbody
                        each val in [1, 2, 3, 4, 5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
                            +tr(val)

block script
    //-script(src="assets/js/vendors.js")
    script(src="assets/js/app.js")