extends ../layout/main

block variables
    - var title = 'Ybot.trade – Referral';
    - var description = '';
    - var pageName = 'referral';

block content

    //
    +b.SECTION.referral-intro
        //-include ../includes/modules/_social
        .container
            +e.row 
                +e.col
                    +e.media 
                        img(src="assets/images/referral/intro.png", alt="")
                +e.col
                    +e.content
                        +e.H1.title Earnings without investing!
                        .typography 
                            p 
                                strong 
                                    big Invite a friend and get 13% of his investment and 2% of his friends investment!
                        +b.A(href="register.html" class="btn --black")
                            span Start earn now
                            +e.SPAN.icon-wrap
                                +icon('001-right-arrow')

    //
    +b.SECTION.referral
        .container
            +e.row 
                +e.col
                    +b.H5.subtitle Partners
                    +b.H3.title Referral program
                    +b.marker Example:
                    +b.typography 
                        p 
                            strong 
                                big Your friend sends the balance of USDT 10,000 to trade, and receives 59USDT every day. And you get an instant 1300 USDT, which are immediately available to output!
                        p If your friend invites  friends, you'll get 2% off their investment! You can find the invitation link in your personal account under Partner Program. Just copy it and send it to  friends.

                    +b.A(href="register.html" class="btn --yellow-gr")
                        span Invite your friend
                        +e.SPAN.icon-wrap
                            +icon('001-right-arrow')
                +e.col 
                    +e.media
                        img(src="assets/images/referral/pic.png", alt="")

block script
    //-script(src="assets/js/vendors.js")
    script(src="assets/js/app.js")