extends ../layout/login

block variables
    - var title = 'Ybot.trade – Sign Up';
    - var description = '';
    - var pageName = 'register';

block content

    +b.sign 
        +e.top 
            +e.H1.title Sign Up 
            +e.UL.links 
                +e.LI 
                    +e.A(href="login.html") Log in
                +e.LI 
                    +e.A(href="forgot.html") Forgot password?
        +e.content
            // 
            form
                //
                +e.row 

                    +e.col 
                        +b.field 
                            label Username 
                            input(type="text" name="username")
                    +e.col 
                        +b.field 
                            label Email
                            input(type="text" name="email")

                    +e.col 
                        +b.field 
                            label Password 
                            input(type="password" name="password")

                    +e.col 
                        +b.field 
                            label Retype password
                            input(type="password" name="retype_password")

                    +e.col(class="--12")
                        +b.field 
                            label Who invited you? 
                            input(type="text" name="invited")

                    +e.col(class="--12")
                        +b.LABEL.checkbox 
                            input(type="checkbox" name="agree")
                            span I agree to the Terms and conditions
                    
                //
                +b.recaptcha
                    img(src="assets/images/captcha.png", alt="")
                
                //
                +e.footer
                    +b.BUTTON( class="btn --black")
                        span Sign up
                        +e.SPAN.icon-wrap
                            +icon('001-right-arrow')

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")