extends ../layout/main

block variables
    - var title = 'Ybot.trade – Terms';
    - var description = '';
    - var pageName = 'terms';

block content
    //
    +b.SECTION.page-section
       
        .container
            +b.H1.title Terms

            +b.typography
                p
                    big 
                        strong Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna. 
                
                ul
                    li List item 1
                    li List item 2
                    li List item 3
                    li List item 4

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe necessitatibus nisi eaque, sapiente esse architecto odio totam mollitia delectus possimus molestias voluptatum quaerat aliquid nostrum earum officiis placeat omnis.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repellendus hic, quo error illo sint natus nemo atque assumenda facilis cum nisi. Vero aut nostrum dolore quibusdam eligendi repellendus sunt.

                ol
                    li List item 1
                    li List item 2
                    li List item 3
                    li List item 4
                
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, saepe necessitatibus nisi eaque, sapiente esse architecto odio totam mollitia delectus possimus molestias voluptatum quaerat aliquid nostrum earum officiis placeat omnis.

                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem repellendus hic, quo error illo sint natus nemo atque assumenda facilis cum nisi. Vero aut nostrum dolore quibusdam eligendi repellendus sunt.

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")