extends ../layout/profile

block variables
    - var title = 'Ybot.trade – Profile settings';
    - var description = '';
    - var pageName = 'windows';

block content

    //
    +b.ARTICLE.page-section
    
        +b.SECTION
            .container
                +b.H5.subtitle Ybot trade
                +b.H1.title Settings 


         

block script
  //-script(src="assets/js/vendors.js")
  script(src="assets/js/app.js")